<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre o Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="author-container">
    <ion-avatar>
      <img src="assets\icon\72f1d788959490860e51a5ca5c878cece770ebffr1-720-634v2_hq copy.jpg" alt="Avatar do Autor">
    </ion-avatar>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Adrielly Maria</ion-card-title>
        <ion-card-subtitle>Estudante de ADS</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label>Instituição:</ion-label>
            <ion-text>Uninassau</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Curso:</ion-label>
            <ion-text>Análise e Desenvolvimento de Sistemas</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-text>adri&#64;email.com</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
